.workerBoardBack{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;

    .workerBoard{
        width: 100%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(80, 234, 165, 0.859);

        .workerCard{
            display: flex;
            text-align: center;
            width: 25%;
            height: 90%;
            background-color: rgb(231, 230, 230);
            transition: all .2 ease-out;
        }

        
    }
}